.topic{
    
    font-family: 'Kanit', sans-serif;
    text-align: center;

}body{
    font-family: 'Kanit', sans-serif;
    font-size: 1rem;
}
footer{
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #040D33;
    position: fixed;
    bottom: 0;
    
}.topic{
    font-size: 1.2rem;
}